{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Modal de Boas-Vindas -->
<div class="modal fade" id="welcomeModal" tabindex="-1" aria-labelledby="welcomeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="welcomeModalLabel">Bem-vindo(a) ao Portal de Assistência á Gestante!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar" id="closeModalButton"></button>
            </div>
            <div class="modal-body">
                <p>Olá, <strong>{{ request.user }}</strong>!</p>
                <p>Você desempenha um papel essencial no bem-estar das gestantes que atendemos. Seu acompanhamento contínuo é crucial para garantir que todas as gestantes tenham acesso ao cuidado e à orientação necessária durante esse período tão importante da vida delas.</p>
                <p>Ao utilizar este sistema, você terá à sua disposição ferramentas para monitorar a saúde das gestantes, acompanhar suas avaliações e fornecer recomendações personalizadas. Seu trabalho faz toda a diferença, e juntos podemos garantir um acompanhamento eficaz e humanizado para todas as gestantes, promovendo a saúde e o bem-estar de mães e bebês.</p>
                <p>Obrigado por sua dedicação!</p>
            </div>
            <div class="modal-footer">
                <a href="{% url 'lista_gestantes' %}" class="btn btn-primary">Fechar</a>
                <a href="" class="btn btn-primary">Avançar para o Tutorial</a>
            </div>
        </div>
    </div>
</div>

<!-- Script para Exibir o Modal -->
<script>
    window.onload = function() {
        var myModal = new bootstrap.Modal(document.getElementById('welcomeModal'));
        myModal.show();

        // Adicionando um evento de fechamento para redirecionar para a página lista_gestantes
        var closeButton = document.getElementById('closeModalButton');
        closeButton.addEventListener('click', function() {
            window.location.href = "{% url 'lista_gestantes' %}";
        });
    };
</script>

<!-- Filtro de busca -->
<div class="row">
    <div class="col-12 mb-4" style="padding: 10px">
        <form action="{% url 'buscar' %}" method="GET" class="form-inline">
            <div class="input-group">
                <input type="text" name="buscar" placeholder="Buscar gestante..." class="form-control" required>
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary">Buscar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Tabela de gestantes -->
<div class="row">
    <div class="col-12 mb-4">
        {% if cards %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Idade</th>
                    <th scope="col">Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for gestante in cards %}
                <tr onclick="window.location.href='{% url 'gestante' gestante.id %}';">
                    <td>{{ gestante.nome }}</td>
                    <td>{{ gestante.idade }}</td>
                    <td>
                        <a href="{% url 'gestante' gestante.id %}" class="btn btn-outline-primary">Detalhes</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="imagem__texto">
            <p>Ainda não tem gestante cadastrada</p>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}
