{% extends 'base.html' %}
{% load static %}
{% block content %}


<!-- Filtro de busca -->
<div class="row">
    <div class="col-12 mb-4" style="padding: 10px">
        <form action="{% url 'buscar' %}" method="GET" class="form-inline">
            <div class="input-group">
                <input type="text" name="buscar" placeholder="Buscar gestante..." class="form-control" required>
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary">Buscar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Tabela de gestantes -->
<div class="row">
    <div class="col-12 mb-4">
        {% if cards %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Idade</th>
                    <th scope="col">Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for gestante in cards %}
                <tr onclick="window.location.href='{% url 'gestante' gestante.id %}';">
                    <td>{{ gestante.nome }}</td>
                    <td>{{ gestante.idade }}</td>
                    <td>
                        <a href="{% url 'gestante' gestante.id %}" class="btn btn-outline-primary">Detalhes</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="imagem__texto">
            <p>Ainda não tem gestante cadastrada</p>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}
