{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}

<div class="container mt-5">
    <h2 class="mb-4">Cadastro de Empresa</h2>
    
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.valor.label_tag }}
            {{ form.valor }}
        </div>

        <div class="mb-3">
            {{ form.costa.label_tag }}
            {{ form.costa }}
        </div>

        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>

    {% if resultado %}
        <div class="mt-4">
            <h4>Resultado:</h4>
            <pre>{{ resultado.previsao }}</pre>
            <pre>{{ resultado }}</pre>
        </div>
    {% endif %}
</div>


{% endblock %}