
{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}
{% block content %}


<style>
    body {
      font-family: Arial, sans-serif;
      margin: 20px;
      line-height: 1.6;
      background-color: #f9f9f9;
      color: #333;
    }
    h1 {
      color: #8C0333;
    }
    strong {
      font-weight: bold;
    }

    ul {
      padding-left: 10px;
    }
    li {
      margin-bottom: 10px;
    }
  </style>

<!-- Card de Dicas Práticas -->
<div class="col-lg-12 mb-4">
    <div class="card shadow-sm">
        <div class="card-body">
            <h5 class="card-title text-center">Recomendações Gerais para <strong>{{ gestante.nome }}</strong></h5>

      
            <div class="container">

                <p><strong>Gestação + primeiros 2 anos da criança</strong> são decisivos para prevenir a obesidade. Fatores como <strong>sobrepeso/obesidade materna</strong>, <strong>situação socioeconômica desfavorável</strong>, <strong>idade materna</strong> e <strong>consumo de ultraprocessados</strong> aumentam o risco. Entenda cada um:</p>
            
                <ul>
                  <li>
                    <strong>Sobrepeso/Obesidade na Gestação:</strong>
                    O excesso de peso da mãe altera o ambiente uterino, predispondo o bebê a acumular mais gordura. O acompanhamento do Índice de Massa Corporal (IMC) durante o pré-natal é essencial para orientar alimentação e atividade física adequadas.
                  </li>
            
                  <li>
                    <strong>Situação Socioeconômica:</strong>
                    Famílias com menos recursos têm maior dificuldade de acesso a alimentos frescos (frutas, legumes) e tendem a consumir mais ultraprocessados (pela praticidade e custo menor). Isso impacta diretamente a qualidade nutricional da gestante e do bebê.
                  </li>
            
                  <li>
                    <strong>Idade Materna:</strong>
                    Gestantes adolescentes podem ter menos acesso a informações sobre alimentação saudável, enquanto mães acima de 35 anos têm maior risco de desenvolver obesidade durante a gravidez. Ambas as situações exigem atenção redobrada.
                  </li>
            
                  <li>
                    <strong>Consumo de Ultraprocessados:</strong>
                    Alimentos como salgadinhos, refrigerantes e macarrão instantâneo são ricos em açúcar, sal e gordura, mas pobres em nutrientes. Seu consumo excessivo durante a gestação e nos primeiros anos de vida desregula o metabolismo da criança, aumentando o risco de obesidade.
                  </li>
                </ul>
              </div>


          </div>

        </div>
    </div>
</div>


{% endblock %}