<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <a class="navbar-brand d-flex align-items-center" href="#">
        <i class="fas fa-heartbeat mr-2"></i> Calculadora de Riscos para a Gestante
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" 
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
        <!-- Links alinhados à esquerda -->
        <ul class="navbar-nav">
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link d-flex align-items-center" href="{% url 'index' %}">
                    <i class="fas fa-list-alt mr-2"></i> Gestantes
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link d-flex align-items-center" href="{% url 'nova_gestante' %}">
                    <i class="fas fa-user-plus mr-2"></i> Nova gestante
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link d-flex align-items-center" href="{% url 'chat' %}">
                    <i class="fas fa-comments mr-2"></i> Chat Bot
                </a>
            </li>
            {% endif %}
        </ul>

        <!-- Links alinhados à direita -->
        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
                {% if user.is_staff %}
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center" href="/admin/">
                        <i class="fas fa-cogs mr-2"></i> Administração
                    </a>
                </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center" href="{% url 'logout' %}">
                        <i class="fas fa-sign-out-alt mr-2"></i> Sair
                    </a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center" href="{% url 'cadastro' %}">
                        <i class="fas fa-user-shield mr-2"></i> Novo Agente
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center" href="{% url 'login' %}">
                        <i class="fas fa-sign-in-alt mr-2"></i> Entrar
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
