{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="d-flex justify-content-center" style="margin-top: 3em;">

    <section style="width: 100%; max-width: 400px; padding: 2em; background-color: #fff; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">

        <h3 class="text-center mb-4" style="color: #8C0333;">Entrar</h3>

        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}

            <div class="mb-3">
                {% for field in form.visible_fields %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% endfor %}
            </div>
            
            <button type="submit" class="btn btn-success col-12">Entrar</button>
        </form>

    </section>

</div>

{% endblock %}
